@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-plus-jakarta-sans);
  /* --font-mono: var(--font-geist-mono); */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2795 0.0368 260.031);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2795 0.0368 260.031);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.7227 0.192 149.5793);
  --primary-foreground: oklch(0.2664 0.0628 152.9343);
  --secondary: oklch(0.4455 0.0374 257.2808);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.3717 0.0392 257.287);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.3791 0.1378 265.5222);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9356 0.0309 17.7172);
  --border: oklch(0.3717 0.0392 257.287);
  --input: oklch(0.3717 0.0392 257.287);
  --ring: oklch(0.7227 0.192 149.5793);
  --chart-1: oklch(0.7227 0.192 149.5793);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.6056 0.2189 292.7172);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(0.2077 0.0398 265.7549);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.7227 0.192 149.5793);
  --sidebar-primary-foreground: oklch(0.2664 0.0628 152.9343);
  --sidebar-accent: oklch(0.3791 0.1378 265.5222);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.3717 0.0392 257.287);
  --sidebar-ring: oklch(0.7227 0.192 149.5793);

  --radius: 0.5rem;
  --shadow-2xs: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.1);
  --shadow-xs: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.1);
  --shadow-sm: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.2),
    0rem 1px 2px -2px hsl(0 0% 0% / 0.2);
  --shadow: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.2),
    0rem 1px 2px -2px hsl(0 0% 0% / 0.2);
  --shadow-md: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.2),
    0rem 2px 4px -2px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.2),
    0rem 4px 6px -2px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.2),
    0rem 8px 10px -2px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0rem 0.5rem 2rem -1rem hsl(0 0% 0% / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50 tracking-tight;
  }
  body {
    @apply bg-background text-foreground font-family;
  }
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply ;
  } */
}
