@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-plus-jakarta-sans);
  /* --font-mono: var(--font-geist-mono); */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9779 0.0042 56.3756);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9779 0.0042 56.3756);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.9779 0.0042 56.3756);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.465 0.147 24.9381);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9625 0.0385 89.0943);
  --secondary-foreground: oklch(0.4847 0.1022 75.1153);
  --muted: oklch(0.9431 0.0068 53.4442);
  --muted-foreground: oklch(0.4444 0.0096 73.639);
  --accent: oklch(0.9619 0.058 95.6174);
  --accent-foreground: oklch(0.3958 0.1331 25.723);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9355 0.0324 80.9937);
  --input: oklch(0.9355 0.0324 80.9937);
  --ring: oklch(0.465 0.147 24.9381);
  --chart-1: oklch(0.5054 0.1905 27.5181);
  --chart-2: oklch(0.465 0.147 24.9381);
  --chart-3: oklch(0.3958 0.1331 25.723);
  --chart-4: oklch(0.5553 0.1455 48.9975);
  --chart-5: oklch(0.4732 0.1247 46.2007);
  --sidebar: oklch(0.9431 0.0068 53.4442);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.465 0.147 24.9381);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9619 0.058 95.6174);
  --sidebar-accent-foreground: oklch(0.3958 0.1331 25.723);
  --sidebar-border: oklch(0.9355 0.0324 80.9937);
  --sidebar-ring: oklch(0.465 0.147 24.9381);

  --radius: 0.375rem;
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
